

.flickity-enabled {
   position: relative;
   cursor: pointer;
   width: 100%;
   height: 100%;
}

.flickity-enabled:focus {
   position: relative;
   width: 100%;
   outline: none;
   height: 100%;
}

.flickity-viewport {
   overflow: hidden;
   position: relative;
   height: 100%;
}

.flickity-slider {
   position: relative;
   width: 100%;
   height: 100%;
   
}

/* ---- page dots ---- */

.flickity-page-dots {
   position: absolute;
   width: 100%;
   padding: 0;
   margin: 0;
   list-style: none;
   text-align: center;
   line-height: 1;
   bottom: 80px;
}

.flickity-rtl .flickity-page-dots {
   direction: rtl;
}

.flickity-page-dots .dot {
   display: inline-block;
   width: 5px;
   height: 5px;
   margin: 0 4px;
   background: #ffffff;
   border-radius: 6px;
   cursor: pointer;
   transition: all .4s;
}

.flickity-page-dots .dot.is-selected {
   width: 10px;
   background-color: #8DD3BB;
}